@charset "utf-8";

@import url(./reset.css);
@import url(./base.css);
@import url(./slider.css);

/* color */
:root {
    /* 컬러 */
    --main-red: #981A16;
    --main-beige: #EDE9DD;
    --white: #fff;
    --txt-clr: #D5B1B0;
    --header-clr: #59433B;
}

/**** layout ****/
.content-inner {
    max-width: 1480px;
    margin: 0 auto;
}

/* 전체 공통 */
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
