@charset "utf-8";

@import url(./reset.css);
@import url(./base.css);
@import url(./slider.css);

/* color */
:root {
    /* 컬러 */
    --basic-b: #0182CD;
    --hover-clr: #0083C8;
    --border-clr: #D8D8D8;
}

/* 전체 공통 */
.nonlink { cursor: default; }
.bold-txt { font-weight: 700; }
button:focus { outline: 2px solid #000; border-radius: 0.1em; }

/* input */
input { box-sizing: border-box; }
input:focus { box-shadow: inset 0 0 0 2px #000; border-radius: 0.2em; }

/* btn */
button { background: 0 0 / 100% 100% no-repeat; }
.btn-close { background-image: url(../../images/main/btn_close_search.png); }
.btn-submit { background-image: url(../../images/main/icon_search_pop.png); }

/* header */
#header { display: flex; justify-content: center; width: 100%; height: 66px; font-weight: 700; }
#header .header-inner { position: relative; width: 980px; height: 100%; display: flex; justify-content: space-between; align-items: center; z-index: 20; }
#header .logo { width: 122px; height: 31px; background: url(../../images/main/logo.png) 0 0 / 100% 100% no-repeat; }

/* gnb */
.depth2 { display: none; position: absolute; min-width: 200px; padding: 15px 25px; background-color: #fff; border: 1px solid #777777; white-space: nowrap; }
.ON .depth2 { display: block; }
.depth2::after { position: absolute; content: ''; width: 10px; height: 8px; background: url(../../images/main/arrow.png) 0 0 / 100% 100% no-repeat; }
.depth2.to-btm { top: 100%; left: 50%; transform: translateX(-50%); margin-top: 10px; }
.depth2.to-top { bottom: 100%; left: 50%; transform: translateX(-50%); margin-bottom: 5px; }
.depth2.to-btm::after { bottom: 100%; }
.depth2.to-top::after { top: 100%; }